@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.content-long {
  &-wrapper {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  &-image {
    position: relative;
    width: calc(100%);
    min-height: 50rem;

    @media (min-width: 768px) {
      width: calc(50% - 0.75rem);
      margin-left: 0.75rem;
    }

    &-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 1;
      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(50% - 0.75rem);
      margin-right: 0.75rem;
    }

    &-top {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      margin-bottom: 0.75rem;
      padding: 2rem;
      background-color: $primaryColor;

      @media (min-width: 768px) {
        padding: 7.5rem;
      }

      p {
        @extend .hl-five;
        color: $whiteColor;
      }
    }

    &-bottom {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      margin-top: 0.75rem;
      padding: 2rem;
      background-color: #f2eddf;

      @media (min-width: 768px) {
        padding: 7.5rem;
      }

      p {
        @extend .hl-four;
        color: $primaryColor;
      }
    }
  }
}
