---
import Wrapper from "../../common/shared/Wrapper.astro";
import "./advocacyIntro.scss";

const { title, content } = Astro.props.data;
---

<div class="advocacy-intro">
  <Wrapper>
    <div class="advocacy-intro-title">
      <h2>{title}</h2>
    </div>
    <div class="advocacy-intro-content" set:html={content} />
  </Wrapper>
</div>
