---
// @ts-ignore
// @ts-nocheck
import { Image } from "astro:assets";
import Wrapper from "../../common/shared/Wrapper.astro";
import "./featuredImage.scss";

const { image } = Astro.props;
const imageSrc = image?.sourceUrl;
const imageAlt = image?.altText || "";
---

<div>
  <Wrapper>
    <div>
      <div>
        <Image
          src={imageSrc}
          alt={imageAlt}
          format="webp"
          widths={[800, 1200, 1600, 2000]}
          sizes="100vw"
          loading="eager"
          inferSize={true}
        />
      </div>
    </div>
  </Wrapper>
</div>
