@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.community-post-display {
  &-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 2rem auto 0;

    &-image {
      position: relative;
      width: calc(100%);
      min-height: 37.5rem;

      @media (min-width: 768px) {
        width: calc(30%);
      }

      &-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          z-index: 1;
        }
      }
    }

    &-intro {
      width: calc(100%);
      padding: 2rem;
      background-color: #f2eddf;

      @media (min-width: 768px) {
        width: calc(70% - 2rem);
        margin-left: 2rem;
      }
    }

    &.post-reversed {
      flex-direction: row-reverse;

      .post-display-post-intro {
        margin-right: 2rem;
        margin-left: 0;
      }
    }
  }
}
