@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.practitioners {
  margin-bottom: 3rem;

  &-title {
    width: 100%;

    h2 {
      @extend .hl-three;
      color: $secondaryColor;
      text-align: center;
      font-weight: 500;
    }
  }

  &-headshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  &-headshot {
    width: calc(100% - 10rem);
    margin: 2rem 5rem;

    @media (min-width: 768px) {
      width: calc(33.333333333% - 5rem);
      margin: 0 2.5rem;
    }

    h3 {
      @extend .p-one;
      margin: 0;
      margin-top: 2.5rem;
      font-weight: 500;
    }

    button {
      @extend .p-two;
      text-decoration: underline;
      text-transform: uppercase;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &-bios {
    width: 100%;
    padding: 5rem 4rem;
    background-color: #f2eddf;
    box-shadow: 3px 6px 13px 0 rgba(0, 0, 0, 0.16);
  }

  &-bio {
    display: none;
    opacity: 0;
    visibility: hidden;

    &-image {
      width: calc(100% - 2.5rem);
      margin-right: 2.5rem;

      @media (min-width: 768px) {
        width: calc(20% - 2.5rem);
        margin-right: 2.5rem;
      }

      &-title {
        h3 {
          @extend .p-one;
          color: #707070;
        }

        a {
          @extend .p-two;
          font-weight: 500;
        }
      }
    }

    &-content {
      width: calc(100%);
      margin-top: 5rem;

      @media (min-width: 768px) {
        width: calc(80% - 2.5rem);
        margin-top: 0;
        margin-left: 2.5rem;
      }

      p {
        @extend .p-two;
      }
    }

    &.active {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      opacity: 1;
      visibility: visible;
      transition: all 0.5s ease-in-out;
    }
  }
}
