@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.practitioners {
  &-title {
    width: 100%;

    h2 {
      @extend .hl-two;
      color: $secondaryColor;
      text-align: center;
    }
  }

  &-headshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  &-headshot {
    width: calc(33.333333333% - 5rem);
    margin: 0 2.5rem;
  }
}
