@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.donate-page-intro {
  &-title {
    width: 100%;

    h2 {
      @extend .hl-three;
      color: $secondaryColor;
      font-weight: 500;
    }
  }

  &-content {
    width: 100%;

    p {
      @extend .p-one;
    }
  }
}
