---
import Wrapper from "../../common/shared/Wrapper.astro";
import Wysiwyg from "../../common/shared/Wysiwyg.astro";
import "./mainContent.scss";

const { title, content } = Astro.props;
---

<div>
  <Wrapper>
    <Wysiwyg>
      <div>
        <h1>{title}</h1>
      </div>
      <div set:html={content} />
    </Wysiwyg>
    <div>
      <a href="/get-involved/community-event">Back to All Community Events</a>
    </div>
  </Wrapper>
</div>
