@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.box-side {
  margin-bottom: 1.5rem;

  &-wrapper {
    margin-bottom: 0 !important;
    padding: 0 2rem !important;
  }

  &-image {
    position: relative;
    width: calc(100%);
    min-height: 35rem;

    @media (min-width: 768px) {
      width: calc(50% - 0.75rem);
      margin-right: 0.75rem;
    }

    &-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 1;
      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: calc(100%);
    padding: 2rem;
    background-color: $secondaryColor;

    @media (min-width: 768px) {
      width: calc(50% - 0.75rem);
      margin-left: 0.75rem;
      padding: 7.5rem;
    }

    &-inner {
      p {
        @extend .hl-four;
        color: $whiteColor;
      }
    }
  }
}
