@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.box-side {
  margin-bottom: 1.5rem;
  &-image {
    width: calc(50% - 0.75rem);
    margin-right: 0.75rem;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: calc(50% - 0.75rem);
    margin-left: 0.75rem;
    padding: 7.5rem;
    background-color: $secondaryColor;

    &-inner {
      p {
        @extend .hl-four;
        color: $whiteColor;
      }
    }
  }
}
