@use "../../../../styles/abstracts/" as *;
@use "../../../../styles/global/paragraphs";
@use "../../../../styles/global/buttons";

.cookie-banner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;

  &.hidden {
    display: none;
  }
}

.cookie-banner-container {
  position: relative;

  .cookie-banner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($tertiaryColor, 0.75);
    z-index: 1;
  }

  &-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 2rem;
    transform: translate(-50%, -50%);
    background-color: $primaryColor;
    border-radius: 0.5rem;
    text-align: center;
    z-index: 100000000;

    @media (min-width: 768px) {
      width: 65rem;
    }
  }

  p {
    @extend .p-one;
    color: $accentColor;
  }

  a {
    @extend .p-one;
    color: $accentColor;

    &:hover {
      color: $whiteColor;
    }
  }

  button {
    @extend .btn;
    @extend .btn-one;
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      @media (min-width: 499px) {
        margin-left: 1rem;
      }
    }
  }
}
