@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.post-involved {
  &-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 2rem auto 0;

    &-image {
      position: relative;
      width: calc(100%);
      min-height: 35rem;

      @media (min-width: 768px) {
        width: calc(30%);
      }

      &-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          z-index: 1;
        }
      }
    }

    &-intro {
      width: calc(100%);
      padding: 2rem 0;

      @media (min-width: 768px) {
        width: calc(70% - 2rem);
        margin-left: 2rem;
        padding: 4rem;
      }

      h2 {
        @extend .hl-four;
        color: $shadowColor;
      }

      &-excerpt {
        p {
          @extend .p-two;
        }
      }
    }
  }
}
