---
import Headline from "../components/common/shared/Headline.astro";
import Paragraph from "../components/common/shared/Paragraph.astro";
import Button from "../components/common/shared/Button.astro";
import Wrapper from "../components/common/shared/Wrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Home Page Dave's Template</h1>
  <Wrapper>
    <Headline hlstyle="one"
      >Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
      sit amet orci. Aenean dignissim pellentesque felis.</Headline
    >
    <Headline hlstyle="two"
      >Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
      sit amet orci. Aenean dignissim pellentesque felis.</Headline
    >
    <Headline hlstyle="three"
      >Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
      sit amet orci. Aenean dignissim pellentesque felis.</Headline
    >
    <Headline hlstyle="four"
      >Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
      sit amet orci. Aenean dignissim pellentesque felis.</Headline
    >
    <Headline hlstyle="five"
      >Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
      sit amet orci. Aenean dignissim pellentesque felis.</Headline
    >
    <Paragraph pstyle="one"
      >Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
      luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing,
      commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
      tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices
      sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
      Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</Paragraph
    >
    <Paragraph pstyle="two"
      >Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
      luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing,
      commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
      tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices
      sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
      Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</Paragraph
    >
    <Button>Community Events</Button>
    <Button>Community Events</Button>
  </Wrapper>
</Layout>
