@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.donors {
  padding-top: 10rem;
  padding-bottom: 5rem;

  &-title {
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;

    h2 {
      @extend .hl-four;
      font-weight: 500;
    }
  }

  &-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  &-logo {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc((100% / 4) - 4rem);
      margin: 2rem;
    }
  }
}
