@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.box-side {
  margin-bottom: 1.5rem;

  &-wrapper {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  &-image {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(50% - 0.75rem);
      margin-right: 0.75rem;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: calc(100%);
    padding: 5rem 2.5rem;
    background-color: $secondaryColor;

    @media (min-width: 768px) {
      width: calc(50% - 0.75rem);
      margin-left: 0.75rem;
    }

    &-inner {
      p {
        @extend .hl-four;
        color: $whiteColor;
      }
    }
  }
}
