---
import Wrapper from "../../common/shared/Wrapper.astro";
import "./mainContent.scss";

const { title, bigContent, content } = Astro.props.data;
---

<div class="about-main-content">
  <Wrapper classes="about-main-content-wrapper">
    <div class="about-main-content-main">
      <div class="about-main-content-main-title">
        <h2>{title}</h2>
      </div>
      <div class="about-main-content-main-big" set:html={bigContent} />
      <div class="about-main-content-main-normal" set:html={content} />
    </div>
  </Wrapper>
</div>
