---
import Wrapper from "../../common/shared/Wrapper.astro";
import "./partnersIntro.scss";

const { title, content } = Astro.props.data;
---

<div class="partners-intro">
  <Wrapper>
    <div class="partners-intro-title">
      <h2>{title}</h2>
    </div>
    <div class="partners-intro-content" set:html={content} />
  </Wrapper>
</div>
