@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.home-intro {
  position: relative;
  background-color: $primaryColor;
  z-index: 100;

  &-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &-image {
    position: relative;
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(40%);
      margin-top: -10rem;
    }

    &-heart {
      position: absolute;
      top: -5rem;
      right: 12rem;
      width: 15rem;
      z-index: 1000;

      @media (min-width: 768px) {
        top: 0;
      }
    }

    &-mask {
      position: absolute;
      top: 0;
      right: -0.1rem;
      width: 100%;
      height: 100%;
      z-index: 100;

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: 100%;
        object-position: center;
        z-index: 1;
      }
    }
  }

  &-content {
    width: calc(100%);
    padding: 2rem;

    @media (min-width: 768px) {
      width: calc(60% - 6rem);
      margin-left: 6rem;
      padding: 0;
    }

    &-inner {
      max-width: 55rem;

      h2 {
        @extend .hl-two;
        color: $whiteColor;
        font-weight: 500;
      }

      p {
        @extend .hl-four;
        color: $whiteColor;
      }
    }
  }
}
