---
import Wrapper from "../../common/shared/Wrapper.astro";
import ContactForm from "../../common/sharedReact/ContactForm/ContactForm";
import "./contactFormDisplay.scss";

const { intro, displayContactForm } = Astro.props.data;
---

{
  displayContactForm ? (
    <div class="contact-page-form">
      <Wrapper classes="contact-page-form-wrapper">
        <div class="contact-page-form-intro">
          <div set:html={intro} />
        </div>
        <div class="contact-page-form-container">
          <ContactForm client:only="react" />
        </div>
      </Wrapper>
    </div>
  ) : null
}
